{% extends "layouts/base.html" %}

{% block title %}Dashboard{% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
<style>
  .chart-container {
    padding-bottom: 20px;
  }
  .chart-type-selector {
    display: block;
    margin-top: 10px;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div id="userId" style="display:none;">
    {{ current_user.id }}
</div>

<div class="content">
    <div class="row" id="chartsRow">
        <!-- Charts will be dynamically inserted here -->
    </div>
</div>
<div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chartModalLabel">Expanded Chart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <canvas id="modalChartCanvas"></canvas>
        </div>
      </div>
    </div>
  </div>  
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
<script>
    $(document).ready(function () {

        var userId = JSON.parse(document.getElementById('userId').textContent); 

        function createChart(data, queryTitle, chartType, canvasId) {
            var labels = data.map(function(item) { return item.name; });
            var counts = data.map(function(item) { return item.count; });
            var ctx = document.getElementById(canvasId).getContext('2d');

            // Destroy the old chart if it exists
            if (window.charts && window.charts[canvasId]) {
                window.charts[canvasId].destroy();
            }

            // Store chart instance to window.charts for potential destruction later
            window.charts = window.charts || {};
            window.charts[canvasId] = new Chart(ctx, {
                type: chartType,
                data: {
                    labels: labels,
                    datasets: [{
                        label: queryTitle,
                        data: counts,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: chartType !== 'pie' ? {
                        y: {
                            beginAtZero: true
                        }
                    } : {}
                }
            });
        }


        // Function to fetch and display charts
        function fetchAndDisplayCharts(userId) {
            var endpoint = '/process_user_queries/' + userId;
            $.getJSON(endpoint, function(responseData) {
                // For each query data, create a chart
                responseData.forEach(function(queryData, index) {
                    var chartContainerId = 'chartContainer' + index;
                    var chartCanvasId = 'chartCanvas' + index;

                    // Create the chart container and canvas
                    var chartContainer = $('<div>', { 'class': 'col-lg-4 col-md-6 chart-container', 'id': chartContainerId });
                    var card = $('<div>', { 'class': 'card card-chart' });
                    var cardHeader = $('<div>', { 'class': 'card-header' });
                    var zoomButton = $('<button>', { 'class': 'btn btn-sm btn-link float-right', 'data-toggle': 'modal', 'data-target': '#chartModal' });
                    zoomButton.html('<i class="fas fa-expand"></i>'); 
                    cardHeader.append(zoomButton);
                    var cardBody = $('<div>', { 'class': 'card-body' });
                    var chartArea = $('<div>', { 'class': 'chart-area' });
                    var canvas = $('<canvas>', { 'id': chartCanvasId });

                    // Append elements
                    chartArea.append(canvas);
                    cardBody.append(chartArea);
                    card.append(cardHeader, cardBody);
                    chartContainer.append(card);
                    $('#chartsRow').append(chartContainer);

                    // Create chart type selector
                    var chartTypeSelector = $('<select>', { 'class': 'chart-type-selector', 'id': 'chartType' + index });
                    chartTypeSelector.append('<option value="bar">Bar Chart</option>', '<option value="pie">Pie Chart</option>');
                    cardHeader.append($('<h5>').text(queryData.query_title), chartTypeSelector);

                    // Create the initial chart
                    createChart(queryData.data, queryData.query_title, 'bar', chartCanvasId);

                    // Change event for chart type selector
                    chartTypeSelector.change(function() {
                        var selectedType = $(this).val();
                        createChart(queryData.data, queryData.query_title, selectedType, chartCanvasId);
                    });
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error("Error fetching data: ", textStatus, errorThrown);
            });
        }

        // Fetch and display charts for the logged-in user
        fetchAndDisplayCharts(userId);

        $(document).on('click', '.chart-container .btn-link', function() {
            var chartId = $(this).closest('.chart-container').find('canvas').attr('id');

            if (window.charts && window.charts[chartId]) {
                var chartType = window.charts[chartId].config.type;
                var chartData = window.charts[chartId].config.data;
                var modalChartCtx = document.getElementById('modalChartCanvas').getContext('2d');

                if (window.modalChart) window.modalChart.destroy();

                var modalDialog = $('#chartModal .modal-dialog');
                if (chartType === 'pie') {
                    modalDialog.removeClass('modal-lg').addClass('modal-sm');
                } else {
                    modalDialog.removeClass('modal-sm').addClass('modal-lg');
                }

                window.modalChart = new Chart(modalChartCtx, {
                    type: chartType, 
                    data: chartData,
                    options: window.charts[chartId].config.options
                });

                $('#chartModal').modal('show'); 
            } else {
                console.log("Chart instance not found for ID: " + chartId);
            }
        });



    });
</script>
{% endblock javascripts %}
