{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  /* Ensure the map takes up the full width and height of the container */
  #map {
    height: 500px;  
    width: 100%;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div id="partnersData" style="display:none;">
  {{ partners_coordinates|tojson|safe }}
</div>

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            Google Maps
          </div>
          <div class="card-body">
            <div id="map" class="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
<script>
  var partnersData = JSON.parse(document.getElementById('partnersData').textContent);

  $(document).ready(function() {
      function initMap() {
         
          var center = { lat: partnersData[0].latitude, lng: partnersData[0].longitude };

          var map = new google.maps.Map(
              document.getElementById('map'), { zoom: 4, center: center });

          // Add markers for each partner
          partnersData.forEach(function(coord) {
              var position = new google.maps.LatLng(coord.latitude, coord.longitude);
              new google.maps.Marker({ position: position, map: map });
          });
      }

      // Call the initMap function to display the map with markers
      initMap();
  });
</script>

{% endblock javascripts %}
